
.a{
  color: #FFFFFF;
  font-family:Courier New, monospace;
  font-size: 20px;
  text-align: center;
  flex-flow: column wrap;
  font-weight: normal;
}

.paladin{
	color:#f6ec02;
	font-family: Blippo, fantasy;
	font-size: 20px;
	text-align: center;
	flex-flow: column wrap;
}
#imagepaladin{
	background-image:url(RPG/paladin.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height:30%;
	width:35%;
	display: flex;
	align-self: center;
	
}

#imagemage{
	background-image:url(RPG/mage.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height:30%;
	width:35%;
	display: flex;
	align-self: center;
}

#imageguerrier{
	background-image:url(RPG/guerrier.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height:30%;
	width:35%;
	display: flex;
	align-self: center;
	
}

#imagepaladin{
	background-image:url(RPG/paladin.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height:30%;
	width:35%;
	display: flex;
	align-self: center;
	
}

#imagerobot{
	background-image:url(RPG/robot.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height:30%;
	width:35%;
	display: flex;
	align-self: center;
	
}

.mage{
	color:#7407CD;
	font-family: Blippo, fantasy;
	font-size: 20px;
	text-align: center;
	flex-flow: column wrap;
}

.guerrier{
	color:#18bf12;
	font-family: Blippo, fantasy;
	font-size: 20px;
	text-align: center;
	flex-flow: column wrap;
}

.robot{
	color:#a5a8b6;
	font-family: Blippo, fantasy;
	font-size: 20px;
	text-align: center;
	flex-flow: column wrap;
}

.bold{
	font-weight: bold;
}

#cible{
display: flex;
flex-direction: row;
justify-content:space-evenly;
}


#numerodetarget{
 display: flex;
flex-direction: row;
}

.target{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2mm ridge rgba(100, 0, 0, .5);
  background-color: #191F49;
  height: 5mm;
  width:50mm;
  color: #FFFFFF;
  font-family:Courier New, monospace;
  font-size: 20px;
  text-align: center;
  flex-flow: column wrap;
  font-weight: normal;
}
.cibletarget{
  display: flex;
  justify-content: center;	
	
}
.favorite{
	visibility: visible;
}


body{
background-image: url("https://i.imgur.com/ggcInAd.png");
}

.stats{
display: flex;
flex-direction: row;
justify-content:space-around;
 
}
.personnage{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 3mm ridge rgba(100, 100, 100, .6);
  background-color: #191F49;
  height: 40mm;
  width: 30mm;
}
.compétence{
display: flex;
flex-direction: row;
justify-content:space-around;
}

.habitude{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 3mm ridge rgba(100, 100, 100, .6);
  background-color: #191F49;
  height: 55mm;
  width: 30mm;
}

#méchant{
display: flex;
margin: 50px;
flex-direction: row;
justify-content:space-evenly;
align-items:center;
}

#boss{
	background-image:url(RPG/boss.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height:300px;
	width:300px;
	visibility: visible;
}
#goule1{
	background-image:url(RPG/boss.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height:200px;
	width:200px;
	visibility: visible;
}
#goule2{
	background-image:url(RPG/boss.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height:200px;
	width:200px;
	visibility: visible;
}

.statsmonstre{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 2mm ridge rgba(100, 0, 0, .3);
  background-color: #191F49;
  height: 35mm;
  width: 30mm;
}

.infobulle{
display:flex;
flex-direction:row;
justify-content:space-evenly;
visibility: hidden;
}

.cible {
	padding: 3px 9px;
	margin: 3px 4px;
	display: inline-block;
	color: #ffffff;
	font-size: 18px;
	cursor: pointer;
	background: #F92732;
	background: linear-gradient(top, #F92732 0%, #e00e19 100%);
	background: -moz-linear-gradient(top, #F92732 0%, #e00e19 100%);
	background: -webkit-linear-gradient(top, #F92732 0%, #e00e19 100%);
	background: -o-linear-gradient(top, #F92732 0%, #e00e19 100%);
	border: 1px solid #191919;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.3), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
	-moz-box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.3), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
	-webkit-box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.3), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
	-o-box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.3), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.50);
}
.cible {
	background: linear-gradient(top, #d14924 0%, #eb1e1e 100%);
	background: -moz-linear-gradient(top, #d14924 0%, #eb1e1e 100%);
	background: -webkit-linear-gradient(top, #d14924 0%, #eb1e1e 100%);
	background: -o-linear-gradient(top, #d14924 0%, #eb1e1e 100%);
}
.cible{
	opacity: 0.8;
}



input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover, button:hover, .button:hover {
	background: linear-gradient(top, #268394 0%, #268394 100%);
	background: -moz-linear-gradient(top, #268394 0%, #268394 100%);
	background: -webkit-linear-gradient(top, #268394 0%, #268394 100%);
	background: -o-linear-gradient(top, #268394 0%, #268394 100%);
}
input[type=button]:active, input[type=submit]:active, input[type=reset]:active, button:active, .button:active{
	opacity:0.8;
}