
.a{
  color: #FFFFFF;
  font-family:Courier New, monospace;
  font-size: 20px;
  text-align: center;
  flex-flow: column wrap;
  font-weight: normal;
}
.paladin{
	color:#f6ec02;
	font-family: Blippo, fantasy;
	font-size: 20px;
	text-align: center;
	flex-flow: column wrap;
}
.mage{
	color:#7407CD;
	font-family: Blippo, fantasy;
	font-size: 20px;
	text-align: center;
	flex-flow: column wrap;
}

.guerrier{
	color:#18bf12;
	font-family: Blippo, fantasy;
	font-size: 20px;
	text-align: center;
	flex-flow: column wrap;
}

.robot{
	color:#a5a8b6;
	font-family: Blippo, fantasy;
	font-size: 20px;
	text-align: center;
	flex-flow: column wrap;
}

.bold{
	font-weight: bold;
}
body{
background-image: url("https://i.imgur.com/ggcInAd.png")
}
.stats{
display: flex;
flex-direction: row;
justify-content:space-around;
 
}
.personnage{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 3mm ridge rgba(100, 100, 100, .6);
  background-color: #191F49;
  height: 40mm;
  width: 30mm;
}
.compétence{
display: flex;
flex-direction: row;
justify-content:space-around;
}

.habitude{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 3mm ridge rgba(100, 100, 100, .6);
  background-color: #191F49;
  height: 55mm;
  width: 30mm;
}

#méchant{
display: flex;
margin: 50px;
flex-direction: row;
justify-content:space-evenly;
align-items:center;
}

.statsmonstre{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 2mm ridge rgba(100, 0, 0, .3);
  background-color: #191F49;
  height: 35mm;
  width: 30mm;
}

.infobulle{
display:flex;
flex-direction:row;
justify-content:space-evenly;
visibility: hidden;
}